 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/uiLut9CiuKm0Sks2tOHUaN3eSMxzBmfA1639749379.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 644px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 719px;
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 366px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 29px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 49px 1px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  width: 330px;
  height: 104px;
  margin: 4px auto 0 148px;
}

.u-section-1 .u-image-2 {
  width: 174px;
  height: 174px;
  filter: brightness(0.35);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -179px 9px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 155px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 452px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 3rem;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-1 .u-image-2 {
    filter: brightness(0.3);
    margin-top: -181px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 29px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 127px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -3px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 139px;
    height: 139px;
    margin-top: -200px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    width: 271px;
    height: 81px;
    margin-top: 7px;
    margin-left: 9px;
  }

  .u-section-1 .u-image-2 {
    width: 97px;
    height: 97px;
    margin-top: -97px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.875rem;
    margin-top: 9px;
    margin-left: 26px;
  }
}